<div class="container">
  <div class="row">
  <div class="col"></div>
  <div class="col"></div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">Welcome to our website.</h5>
                <p class="card-text">New users must register for their account. Existing users, login here.</p>
                <%#= link_to ... %>
                <a href="/registration" class="btn btn-outline-primary">Register</a>
                <%#= link_to ... %>
                <a href="/login" class="btn btn-primary">Login</a>
                </div>
            </div>
        </div>
    </div> 
</div>